@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@300;400&family=Public+Sans:wght@200&family=Quicksand&family=Raleway:wght@300;500&family=Roboto:wght@300&family=Wix+Madefor+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}
button {
  cursor: pointer;
}
nav {
  height: 5rem;
  padding: 0 3rem;
  border-bottom: 2px #ebf0f5 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 5rem;
}
nav button {
  padding: 0.5rem 1rem;
  background: none;
  border-radius: 0.75rem;
  border: 2px #ebf0f5 solid;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}
nav button span {
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ebf0f5;
}
main {
  width: 100%;
  display: grid;
  grid-template-columns: 17% 83%;
  /* height: calc(100vh - 4rem); */
}
.sidebar {
  border-right: 2px #ebf0f5 solid;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
}
.content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content ._grid {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: 65% calc(35% - 1.5rem);
  height: 100%;
}
.content ._grid .stats1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content ._grid .stats1 .box1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px #ebf0f5 solid;
}
.content ._grid .stats1 .box1 .text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.content ._grid .stats1 .box1 .text h3 {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
}
.content ._grid .stats1 .box1 .text p {
  font-size: 0.9rem;
  color: gray;
}
.content ._grid .stats1 .box1 img {
  width: 4rem;
}
.content ._grid .stats1 .box1 button {
  margin-left: auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #142683;
  border: none;
  color: white;
  font-size: 1rem;
}
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 600px;
}

.modal .head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
  padding-bottom: 0.5rem;
  border-bottom: 2px #ebf0f5 solid;
}
.modal .head h1 {
  font-size: 2.2rem;
  font-weight: 600;
}
.modal .head img {
  margin-left: auto;
  height: 50px;
}
.modal .con {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px #ebf0f5 solid;
}
.modal .con .con_bullet {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.modal .con .con_bullet span {
  background-color: #142683;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
}
.modal .con .con_bullet input {
  margin-left: auto;
  outline: none;
  border: 2px #142683 solid;
  padding: 0.5rem 1rem;
  color: #142683;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 107px;
}
.modal .btns {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: end;
}
.modal .btns button {
  padding: 0.75rem;
  border-radius: 0.25rem;
  background: none;
  border: 2px #142683 solid;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.modal .btns button:last-child {
  background-color: #142683;
  color: white;
}
.content ._grid .stats1 .box2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px #ebf0f5 solid;
}
.content ._grid .stats1 .box2 p {
  font-weight: 600;
  font-size: 1.1rem;
}
.content ._grid .stats1 .box2 .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.content ._grid .stats1 .box2 .stats .stats_bullets {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.85rem;
  justify-content: center;
}
.content ._grid .stats1 .box2 .stats .stats_bullets .img {
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
}
.content ._grid .stats1 .box2 .stats .stats_bullets .img img {
  object-fit: cover;
  height: 3rem;
}
.content ._grid .stats1 .box2 .stats .stats_bullets .text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.content ._grid .stats1 .box2 .stats .stats_bullets .text h1 {
  font-size: 1.75rem;
}
.content ._grid .stats1 .box2 .stats .stats_bullets .text p {
  text-transform: uppercase;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-size: 0.85rem;
}
.sidebar button {
  border: none;
  background: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #566474;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  padding-right: 2rem;
  border-start-end-radius: 9999px;
  border-end-end-radius: 9999px;
}
.sidebar button:hover {
  color: #142683;
}
.sidebar button:nth-child(2) {
  color: #142683;
  background-color: #f7f8fa;
}
.content ._grid .stats2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content ._grid .stats2 .box1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px #ebf0f5 solid;
}
.content ._grid .stats2 .box1 p {
  font-size: 1.25rem;
  font-weight: 600;
}
.content ._grid .stats2 .box1 .lists {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.75rem;
}
.content ._grid .stats2 .box1 .lists .bars {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.content ._grid .stats2 .box1 .lists .bars .full_bar {
  position: relative;
  height: 0.6rem;
  border-radius: 20px;
  width: 250px;
}
.content ._grid .stats2 .box1 .lists .bars .full_bar .completed {
  position: absolute;
  height: 100%;
  border-radius: 20px;
}
.content ._grid .stats2 .box1 .lists p {
  font-weight: 500;
  font-size: 1.1rem;
  color: gray;
  letter-spacing: 0.5px;
}
.content ._grid .stats2 .box2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px #ebf0f5 solid;
}
.content ._grid .stats2 .box2 .head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.content ._grid .stats2 .box2 .head p {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}
.content ._grid .stats2 .box2 .head p:last-child {
  color: #438af6;
}
.content ._grid .stats2 .box2 p {
  color: gray;
}
.content ._grid .stats2 .box2 p span {
  font-weight: 600;
}
.content ._grid .stats1 .box3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px #ebf0f5 solid;
}
.content ._grid .stats1 .box3 p {
  font-size: medium;
  color: #566474;
  letter-spacing: 0.2px;
}
.content ._grid .stats1 .box3 p span {
  font-weight: 600;
}
